$main: #2196F3;
$primary: #555;
$primary-active: #bd5;
$flex-item-bg: #fff;
$handle-thickness: 5px;
$hoverbar-bg: rgba(0, 255, 0, .2);  

* {
	// border-radius: 4px;
	// transition: .1s ease;
	user-select: none;
}

button {
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	margin: auto;
	border: none;
	font-family: arial;
	font-size: 180% !important;
	color: $primary; 
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,.5);
	outline: none !important;
}

button:hover {
	background: $primary-active;
}

body {
	background: $main;
}

.main {
	height: 90vh;
	width: 80vw;
	position: absolute;
	top: 5vh;
	left: 10vw;
}

.container {
	display: flex;
	align-items: stretch;
	align-content: center;
	box-sizing: border-box;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.item--row {
	display: flex;
	flex-flow: row;
}

.item--column {
	display: flex;
	flex-flow: column;
}

.item {
	background-color: $flex-item-bg;
	display: flex;
	cursor: crosshair;
	align-items: center;
	justify-content: space-around;
	// border: 1px solid black;
	flex: 1 0 1%;
	font-family: arial;
}

.handle--h {
	background: $main;
	// border-top: $handle-thickness * .4 solid $flex-item-bg;
	// border-bottom: $handle-thickness * .4 solid $flex-item-bg;
	flex: 0 1 $handle-thickness;
	cursor: row-resize
}

.handle--v {
	background: $main; 
	// border-right: $handle-thickness * .4 solid $flex-item-bg;
	// border-left: $handle-thickness * .4 solid $flex-item-bg;
	flex: 0 1 $handle-thickness;
	cursor: col-resize;
}

.hoverbar {
	position: absolute;
	background: $hoverbar-bg;
	pointer-events: none;
}
.handle:hover ~ .hoverbar {
	visibility: hidden;
}

.btn-box {
	position: fixed;
	bottom: 20px;
}

button {
	width: 70px;
	height: 40px;
	font-size: 130%;
	margin: 10px 10px 0 0;
}

@media screen and (max-width: 500px) {
	* {
		flex-direction: column;
	}
}