// Fonts
@font-face {
	src: url("fonts/Nunito-Light.ttf");
	font-family: "Nunito-Light";
}

@font-face {
	src: url("fonts/Nunito-Regular.ttf");
	font-family: "Nunito-Regular";
}

@font-face {
	src: url("fonts/Nunito-SemiBold.ttf");
	font-family: "Nunito-SemiBold";
}

@font-face {
	src: url("fonts/Nunito-Bold.ttf");
	font-family: "Nunito-Bold";
}

@font-face {
	src: url("fonts/Nunito-ExtraBold.ttf");
	font-family: "Nunito-ExtraBold";
}

// Variables
$main: #2196F3;
$primary: #555;
$primary-active: #bd5;
$flex-item-bg: #fff;
$handle-thickness: 5px;
$hoverbar-bg: rgba(0, 255, 0, .2);  

* {
	// border-radius: 4px;
	user-select: none;
}

button {
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	margin: auto;
	border: none;
	background: white;
	font-size: 180% !important;
	color: #444;//$primary; 
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,.5);
	outline: none !important;
}

button:hover {
	background: $primary-active;
}

body {
	background: $main;
}

.canvas {
	height: 90vh;
	width: 70vw;
	position: absolute;
	top: 0; right: 0;
	box-shadow: 0 0 20px 3px rgba(0,0,30,.6);
	left: 0; bottom: 0;
	margin: auto;
}

.container {
	display: flex;
	// flew-wrap: wrap;
	align-items: stretch;
	align-content: center;
	box-sizing: border-box;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.item--row {
	display: flex;
	flex-flow: row;
}

.item--column {
	display: flex;
	flex-flow: column;
}

.item {
	background-color: $flex-item-bg;
	display: flex;
	cursor: crosshair;
	align-items: center;
	justify-content: space-around;
	// border: 1px solid black;
	flex: 1 0 1%;
	// transition: .1s ease;
	font-family: Nunito-SemiBold;
}

.handle--h {
	background: $main;
	background: #9bF;
	// border-top: $handle-thickness * .4 solid $flex-item-bg;
	// border-bottom: $handle-thickness * .4 solid $flex-item-bg;
	flex: 0 1 $handle-thickness;
	cursor: row-resize
}

.handle--v {
	background: $main; 
	background: #9bF;
	// border-right: $handle-thickness * .4 solid $flex-item-bg;
	// border-left: $handle-thickness * .4 solid $flex-item-bg;
	flex: 0 1 $handle-thickness;
	cursor: col-resize;
}

.hoverbar {
	position: absolute;
	background: $hoverbar-bg;
	pointer-events: none;
}
.handle:hover ~ .hoverbar {
	visibility: hidden;
}

.controls {
	display: flex;
	position: fixed;
	left: 20px;
}

button {
	width: 70px;
	height: 40px;
	font-size: 130%;
	margin: 10px 10px 0 0;
}

@media screen and (max-width: 500px) {
	.container > *{
		flex-direction: column;
	}

	.main {
		bottom: 15vh;
		top: 5vh;
		height: 80vh;
		width: 80vw;
	}
}